spring:
  application:
    name: booking-system


  datasource:
    url: jdbc:postgresql://localhost:5433/booking_system
    username: booking_user
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080  



